
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
   Hakkımda
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımda Sayfası </h2>
            </div>
            <form>
                <div class="modal-body">
                    Tarih 22.02.2024 Günlerden Perşembe Murat Yücedağ'ın ,YouTube'ta bulunan "50 Derste MVC seriisndeki 45. videodaki ek olarak bizden yapmamızı istediği kısım "
                    </div>

  
            </form>
        </div>
    </div>
    </div>


