@using MvcStok.Models.Enty;
@model List<TBLHAKKIMDA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Hakkımda
</button>

@foreach (var item in Model)
{
    <div class="modal" id="Modal1">

        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-header">
                    <h2 class="modal-title">Hakkımda Sayfası </h2>
                </div>

                <form>

                    <div class="modal-body">

                        @item.HakkımdaBasligi

                    </div>



                </form>
                

            </div>

        </div>

    </div>
}



